<div class="row" id="<%= dom_id tweet %>">
    <div class="d-flex">
        <div class="avater p-2">
            <%= link_to gravatar_for(tweet.user, { size: 50 }), user_path(tweet.user) %>
        </div>
        <div class="p-2 w-100">
            <div class="tweet-info">
                <%= link_to tweet.user.username, user_path(tweet.user) if tweet.user %> · <%= time_ago_in_words(tweet.created_at) %>
            </div>
            <div class="tweet-title">
                <%= link_to tweet.title, tweet_path(tweet), class: "fs-4" %>
            </div>
            <div class="tweet-body">
                <%= truncate(tweet.content, length: 100) %>
            </div>
            <div class="tweet-actions">
                <ul class="nav justify-content-around">
                    <li class="nav-item">
                        <% if tweet.user == current_user %>
                            <a class="nav-link disabled">
                                <%= tweet.votes_for.count %> <span><i class="fs-6 bi-heart"></i></span>
                            </a>
                        <% else %>
                            <% if tweet[:liked] %>
                                <%= button_to vote_path(tweet), method: :delete, data: { confirm: "are you sure you want to delete this tweet?"} do %>
                                    <%= tweet.votes_for.count %> <span><i class="fs-6 bi-heart-fill"></i></span>
                                <% end %>
                            <% else %>
                                <%= button_to votes_path(tweet) do %>
                                    <%= tweet.votes_for.count %> <span><i class="fs-6 bi-heart"></i></span>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <% if tweet.user == current_user %>
                            <%= link_to "Edit", edit_tweet_path(tweet), class: "nav-link" %>
                        <% else %>
                            <a class="nav-link disabled">Edit</a>
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <% if tweet.user == current_user %>
                            <%= button_to "Delete", tweet_path(tweet), method: :delete, data: { confirm: "are you sure you want to delete this tweet?"}, class: "nav-link" %>
                        <% else %>
                            <a class="nav-link disabled">Delete</a>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
