<div>
    <h2>
        <%= link_to home_path do %>
            <i class="bi-arrow-left"></i>
        <% end %>
        <%= @user.username %>
    </h2>
</div>

<div class="row">
    <div class="avatar col">
        <%= gravatar_for @user, size: 120, class: "rounded-circle" %>
    </div>
    <div class="col text-end">
        <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-outline-secondary" %>
    </div>
</div>

<hr />

<%= render 'shared/tweet', obj: @user.tweets %>
