<!DOCTYPE html>
<html>
  <head>
    <title>Tweelone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container d-flex">
      <%= render 'layouts/navigation' if logged_in? %>
      <div class="main px-sm-2 px-0 w-100">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
